
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">ĐĂNG NHẬP</h2>
    <h2 style="color: red;">@ViewBag.ThongBao</h2>
    @using (Html.BeginForm("Login", "User"))
    {
        @Html.ValidationSummary(true)
        <div class="mb-3 mt-3">
            <label for="name" class="form-label">Tên đăng nhập:</label>
            <input type="text" class="form-control" id="name" name="LoginName" required>
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control" id="pwd" name="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">ĐĂNG NHẬP</button>
    }
    <p style="text-align: center; margin-top: 15px;">
        Chưa có tài khoản? <a href="@Url.Action("Register", "User")">Đăng Ký</a>
    </p>
</div>
