@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="about_taital">About Us</h1>
                <div class="bulit_icon"><img src="~/Content/images/bulit-icon.png"></div>
            </div>
        </div>
        <div class="row about_section_2 layout_padding">
            <div class="col-md-6 text-center">
                <img src="~/Content/images/about-img.png" class="about_img" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-6">
                <div class="story_section">
                    <h2 style="margin-bottom: 5px;"></h2>
                    <p style="margin-top: 0;">
                        Chào mừng bạn đến với quán cà phê của chúng tôi, một nơi ấm cúng bắt đầu hành trình của mình từ những ngày đầu.
                        Điều gì bắt đầu từ ước mơ của một đội ngũ nhỏ những người yêu thích cà phê, nay đã trở thành một điểm đến thân thuộc trong cộng đồng.
                        Nổi bật với không gian ấm cúng và những ly cà phê tuyệt vời được lấy từ các nông trại địa phương,
                        mỗi tách cà phê đều được pha chế với tình yêu và phản ánh cam kết của chúng tôi đối với chất lượng và sự bền vững.
                        Qua các năm, chúng tôi đã tổ chức nhiều sự kiện mang mọi người lại gần nhau, tạo nên những kỷ niệm và kết nối đáng quý.
                        Chúng tôi mời bạn tham gia cùng chúng tôi, thưởng thức đồ uống yêu thích của bạn, và trở thành một phần trong câu chuyện của chúng tôi
                        -nơi mỗi lần ghé thăm
                        là cơ hội để tận hưởng cà phê ngon và những người bạn tuyệt vời.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
