
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- blog section start -->
<div class="blog_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="about_taital">Our us</h1>
                <div class="bulit_icon"><img src="~/Content/images/bulit-icon.png"></div>
            </div>
        </div>
        <div class="blog_section_2">
            <div class="row">
                <div class="col-md-6" style="padding-bottom: 30px;">
                    <div class="blog_box">
                        <div class="blog_img"><img src="~/Content/images/blog-img1.png"></div>
                        <h4 class="date_text">05 tháng 1</h4>
                        <h4 class="prep_text">
                            Khám Phá Doze Cafe
                        </h4>
                        <p class="lorem_text">
                            Nằm giữa lòng thành phố nhộn nhịp,
                            Doze Cafe là một góc nhỏ ấm cúng,
                            mang đến không gian thư giãn với những tách cà phê đậm đà,
                            thơm ngát và bộ sưu tập các món ăn thủ công tinh tế.
                            Đây là nơi lý tưởng để tạm ngừng nhịp sống bận rộn,
                            gặp gỡ bạn bè, hoặc đơn giản là để khơi nguồn cảm hứng.
                            Mỗi tách cà phê tại đây đều đem lại cảm giác thoải mái,
                            thư thái, như một người bạn đồng hành dễ chịu.
                            Hãy ghé thăm và biến Doze Cafe thành điểm đến yêu thích mới của bạn
                        </p>
                    </div>
                    <div class="read_bt"><a href="/Blog/Text1">Read More</a></div>
                </div>
                <div class="col-md-6" style="padding-bottom: 30px;">
                    <div class="blog_box">
                        <div class="blog_img"><img src="~/Content/images/blog-img2.png"></div>
                        <h4 class="date_text">08 Mar </h4>
                        <h4 class="prep_text">Thưởng Thức Hương Vị Tại Doze Cafe</h4>
                        <p class="lorem_text">
                            Tại Doze Cafe, mỗi tách cà phê được chế biến từ những hạt cà phê được chọn lọc kỹ lưỡng,
                            mang đến hương vị đậm đà và trọn vẹn trong từng ngụm.
                            Từ espresso đặc trưng đến những ly latte béo ngậy và cold brew mát lạnh,
                            chúng tôi cam kết mang đến chất lượng vượt trội.
                            Hãy kết hợp cà phê của bạn với một trong những món bánh mới ra lò để có trải nghiệm hoàn hảo.
                            Thưởng thức hương vị chất lượng tại Doze Cafe
                            trong không gian đầy cảm hứng và thư giãn, phù hợp mọi sở thích!
                        </p>
                    </div>
                    <div class="read_bt"><a href="/Blog/Text2">Read More</a></div>
                </div>
                <div class="col-md-6" style="padding-bottom: 30px;">
                    <div class="blog_box">
                        <div class="blog_img"><img src="~/Content/images/blog-img3.png"></div>
                        <h4 class="date_text">12 Jun</h4>
                        <h4 class="prep_text">
                            Trải Nghiệm Chất Lượng Tại Doze Cafe
                        </h4>
                        <p class="lorem_text">
                            Tại Doze Cafe, chúng tôi phục vụ cà phê được làm từ những hạt cà phê cao cấp,
                            mang đến hương vị đậm đà và chân thật. Dù bạn thích một tách espresso mạnh mẽ,
                            một ly latte mượt mà hay một thức uống lạnh sảng khoái, mỗi đồ uống đều được pha chế với sự chăm sóc tỉ mỉ.
                            Hãy kết hợp cà phê của bạn với một chiếc bánh mới ra lò và thưởng thức khoảnh khắc tận hưởng trọn vẹn.
                            Hãy ghé thăm Doze Cafe và cảm nhận sự khác biệt!
                        </p>
                    </div>
                    <div class="read_bt"><a href="/Blog/Text3">Read More</a></div>
                </div>
                <div class="col-md-6" style="padding-bottom: 30px;">
                    <div class="blog_box">
                        <div class="blog_img"><img src="~/Content/images/blog-img4.png"></div>
                        <h4 class="date_text">01 Aug</h4>
                        <h4 class="prep_text">
                            Thưởng Thức Hương Vị Tươi Mới Tại Doze Cafe
                        </h4>
                        <p class="lorem_text">
                            Tại Doze Cafe, chúng tôi tự hào về từng tách cà phê,
                            sử dụng những hạt cà phê được chọn lọc kỹ lưỡng để mang đến hương vị mượt mà và đậm đà.
                            Hãy thưởng thức thực đơn của chúng tôi với các loại espresso tinh tế, latte mịn màng và đồ uống lạnh sảng khoái,
                            mỗi món đều được chế biến hoàn hảo. Hãy hoàn thiện trải nghiệm của bạn với một món ăn mới ra lò,
                            Doze Cafe là nơi mà chất lượng và sự thoải mái hòa quyện!
                        </p>
                    </div>
                    <div class="read_bt"><a href="/Blog/Text4">Read More</a></div>
                </div>
                <div class="col-md-6" style="padding-bottom: 30px;">
                    <div class="blog_box">
                        <div class="blog_img"><img src="~/Content/images/blog-img5.png"></div>
                        <h4 class="date_text">28 Nov</h4>
                        <h4 class="prep_text">
                            Nếm Trải Sự Khác Biệt Tại Doze Cafe
                        </h4>
                        <p class="lorem_text">
                            Tại Doze Cafe, chúng tôi tin rằng chỉ phục vụ những gì tốt nhất.
                            Cà phê của chúng tôi được pha chế từ những hạt cà phê cao cấp,
                            đảm bảo mang đến trải nghiệm đậm đà và hương vị phong phú trong từng tách.
                            Hãy chọn từ bộ sưu tập tuyệt vời của chúng tôi bao gồm espresso, latte và đồ uống lạnh,
                            và đừng quên thử những món bánh mới ra lò.
                            Hãy đến và thưởng thức những hương vị thú vị tại Doze Cafe!
                        </p>
                    </div>
                    <div class="read_bt"><a href="/Blog/Text5">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog section end -->
