
@{
    ViewBag.Title = "Text2";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <div class="row" style="padding-top:50px">
        <div class="col-5 blog_img" style="margin:auto">
            <img src="~/Content/images/blog-img2.png" alt="Doze Cafe" class="img-fluid">
        </div>
        <div class="col-7 blog_content">
            <h4 class="prep_text">Khám Phá Doze Cafe</h4>
            <p class="lorem_text">
                Nằm giữa lòng thành phố nhộn nhịp,
                Doze Cafe là một góc nhỏ ấm cúng, mang đến không gian thư giãn với những tách cà phê đậm đà,
                thơm ngát và bộ sưu tập các món ăn thủ công tinh tế. Đây là nơi lý tưởng để tạm ngừng nhịp sống bận rộn,
                gặp gỡ bạn bè, hoặc đơn giản là để khơi nguồn cảm hứng.
                <br><br>
                Tại Doze Cafe, chúng tôi không chỉ phục vụ cà phê; chúng tôi tạo ra những trải nghiệm.
                Từ việc chọn lọc hạt cà phê đến quy trình pha chế tinh tế, mỗi bước đều được thực hiện với tâm huyết.
                Khách hàng có thể thưởng thức những ly cà phê đậm vị, kết hợp với bánh ngọt tươi ngon, tạo nên sự hòa quyện hoàn hảo.
                <br><br>
                Không gian của Doze Cafe được thiết kế theo phong cách hiện đại, với ánh sáng ấm áp và những góc nhỏ riêng tư,
                phù hợp cho cả những cuộc hẹn hò lãng mạn hay những buổi gặp mặt bạn bè.
                Hãy để Doze Cafe là nơi bạn tìm thấy niềm vui và sự yên bình giữa những bộn bề của cuộc sống.
            </p>
        </div>
    </div>
</div>


