
@{
    ViewBag.Title = "Text3";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <div class="row" style="padding-top:50px">
        <div class="col-5 blog_img" style="margin:auto">
            <img src="~/Content/images/blog-img3.png" alt="Doze Cafe" class="img-fluid">
        </div>
        <div class="col-7 blog_content">
            <h4 class="prep_text">Khám Phá Doze Cafe</h4>
            <p class="lorem_text">
                Nằm giữa trung tâm thành phố sôi động, Doze Cafe là một không gian ấm áp,
                mang lại cảm giác yên bình và thư thái.
                Từng tách cà phê tại đây đều có hương vị đậm đà và hương thơm quyến rũ,
                được pha chế từ những hạt cà phê chất lượng nhất.
                Bộ sưu tập món ăn phong phú và tinh tế của chúng tôi là lựa chọn hoàn hảo để bạn tạm dừng nhịp sống vội vã,
                gặp gỡ bạn bè hay tìm kiếm nguồn cảm hứng mới.
                <br><br>
                Tại Doze Cafe, chúng tôi không chỉ đơn thuần phục vụ cà phê,
                mà còn tạo nên những trải nghiệm đáng nhớ.
                Từ quá trình tuyển chọn hạt cà phê cẩn thận đến từng công đoạn pha chế,
                mỗi ly cà phê đều là kết quả của sự tận tâm và đam mê.
                Thực khách có thể thưởng thức những tách cà phê đậm vị kết hợp với bánh ngọt tươi ngon,
                tạo nên sự hòa quyện hoàn hảo.
                <br><br>
                Không gian của Doze Cafe được thiết kế theo phong cách hiện đại,
                mang đến ánh sáng ấm áp và những góc nhỏ riêng tư,
                phù hợp cho mọi dịp từ hẹn hò lãng mạn đến buổi họp mặt thân tình.
                Hãy để Doze Cafe trở thành nơi bạn tìm thấy niềm vui và sự bình yên giữa cuộc sống bận rộn thường ngày.
            </p>
        </div>
    </div>
</div>
