
@{
    ViewBag.Title = "Text4";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <div class="row" style="padding-top:50px">
        <div class="col-5 blog_img" style="margin:auto">
            <img src="~/Content/images/blog-img4.png" alt="Doze Cafe" class="img-fluid">
        </div>
        <div class="col-7 blog_content">
            <h4 class="prep_text">Khám Phá Doze Cafe</h4>
            <p class="lorem_text">
                Tọa lạc tại trung tâm sôi động của thành phố,
                Doze Cafe mang đến một không gian ấm cúng và thư giãn.
                Mỗi ly cà phê tại đây đều đậm đà hương vị,
                được chế biến từ những hạt cà phê chất lượng cao nhất.
                Thực đơn đa dạng với các món ăn tinh tế của chúng tôi
                là lựa chọn tuyệt vời để bạn tạm quên đi nhịp sống hối hả,
                kết nối với bạn bè hoặc tìm nguồn cảm hứng mới.
                <br><br>
                Tại Doze Cafe, chúng tôi không chỉ phục vụ cà phê mà còn mang đến những trải nghiệm khó quên.
                Từ khâu tuyển chọn hạt cà phê kỹ lưỡng đến quy trình pha chế tỉ mỉ,
                mỗi tách cà phê đều chứa đựng sự đam mê và tâm huyết.
                Khách hàng có thể thưởng thức cà phê đậm đà kết hợp với các món bánh tươi ngon,
                tạo nên sự hòa quyện hoàn hảo.
                <br><br>
                Không gian của Doze Cafe được thiết kế theo phong cách hiện đại,
                mang lại ánh sáng ấm áp và các góc nhỏ riêng tư,
                phù hợp cho mọi dịp từ những buổi hẹn hò lãng mạn đến các cuộc gặp gỡ thân tình.
                Hãy để Doze Cafe là điểm đến nơi bạn có thể tìm thấy niềm vui và sự bình yên giữa cuộc sống bộn bề hàng ngày.
            </p>

        </div>
    </div>
</div>